optimum[openvino]
openvino-genai
streamlit
# # Doesn't have support on OpenShiftAI
# youtube_transcript_api
sentence-transformers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
numpy
scikit-learn
elasticsearch
requests
matplotlib
tqdm
python-dotenv
certifi
httplib2
protobuf==5.28.3
ssl
html
xml
isodate

# # To test pytoch original model on CPU
# accelerate

# # To test ONNX Model
# onnxruntime
